<!-- views/partials/head.ejs -->

<meta charset="utf-8">
<link rel="stylesheet" href="/stylesheets/normalize.css">
<link rel="stylesheet" href="/stylesheets/master.css">
<link href='https://fonts.googleapis.com/css?family=Open+Sans:300,600' rel='stylesheet' type='text/css'>
<script type="text/javascript" src="/js/jquery-1.12.3.min.js"></script>
<script type="text/javascript" src="/js/form_validation.js"></script>
<!--[if lte IE 8]>
  <script>
    document.createElement('footer');
    document.createElement('header');
  </script>
<![endif]-->
<title>My App</title>
