body{
  color:#0C2E2B;
  font-family: 'Open Sans', sans-serif;
  font-size: 12px;
}
header, footer{
  display:block;
}
a{
  text-decoration:none;
  color:inherit;
}
a:hover{
  text-decoration:underline;
}
ul{
  list-style-type: none;
  padding:0;
}
h1{
  color:tomato;
  text-align:center;
  margin: 0;
  margin-bottom: 10px;
}
h2{
  text-align:center;
  margin: 0;
  margin-bottom: 10px;
}
h3{
  margin: 0;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  background-color: #F5F5F5;
  padding: 5px 15px;
}
footer{
  text-align:center;
  padding: 10px 0;
}
.float_left{
  float:left;
  margin-right:10px;
}
.float_right{
  float:right;
  margin-left:10px;
}
.message{
  display: block;
  clear: both;
  color: tomato;
}
table{
  width: 100%;
  border-collapse: collapse;
  border-top: 1px solid #ccc;
}
table colgroup .date {
  width: 100px;
}
table colgroup .author {
  width: 110px;
}
table tr{
  border-bottom: 1px solid #ccc;
}
table td, th{
  padding: 7px 15px;
}
table thead tr{
  background-color: #F5F5F5;
}
table tbody tr:hover td:first-child{
  cursor:pointer;
  text-decoration: underline;
}
table tbody td{
    cursor:pointer;
}
table tbody tr:nth-child(odd){
  background-color: #F4FFFF;
}
table tbody td+td{
  text-align: center;
}
.floats:after{
  content: "";
  display: block;
  clear: both;
  height: 0;
  line-height: 0;
}
.inputs{
  padding: 5px 15px;
  border-bottom: 1px solid #ccc;
}
.inputs label{
  float:left;
  min-width: 70px;
  padding: 3px 0;
  line-height: 20px;
  margin: 3px 0;
}
.inputs input{
  float:right;
  width: 180px;
  height: 20px;
  padding: 3px 7px;
  border: 1px solid #ccc;
  border-radius: 3px;
  margin: 3px 0;
}
.inputs textarea{
  float:right;
  resize: vertical;
  width: 245px;
  padding: 3px 7px;
  border: 1px solid #ccc;
  border-radius: 3px;
  margin: 3px 0;
  height: 100px;
}
.inputs p{
  margin: 0;
}
.buttons{
  padding: 0 5px;
  margin: 7px 0;
}
.buttons:after{
  content: "";
  display: block;
  clear: both;
  height: 0;
  line-height: 0;
}
button{
  min-width: 55px;
  color: #165751;
  border: 1px solid #ccc;
  border-right: 1px solid #aaa;
  border-bottom: 1px solid #aaa;
  border-radius: 4px;
  padding: 5px 10px;
  background-color:#f5f5f5;
  font-size: 0.8em;
  font-weight: bold;
}
button:hover{
  position: relative;
  top: 1px;
  left: 1px;
  border: 1px solid #ccc;
  border-top: 1px solid #aaa;
  border-left: 1px solid #aaa;
}

.login,
.users
{
  width: 300px;
  margin: 0 auto;
}
.posts .index,
.posts .show{
  width: 600px;
  margin: 0 auto;
}
.posts .new,
.posts .edit{
  width: 400px;
  margin: 0 auto;
}
.posts .show .content{
  padding: 6px 15px;
  border-bottom: 1px solid #ccc;
}
.posts .show .body{
  white-space:pre-line;
}
.posts .show .info>div{
  margin:5px;
  padding: 5px 10px;
  background-color: #E4E4E4;
  border: 0 solid black;
  border-radius: 5px;
}
.posts .show .info .timestamp span{
  display: inline-block;
  width: 50px;
}
.posts input{
  width: 280px;
}
.posts textarea{
  width: 280px;
}
