<!DOCTYPE html>
<html>
  <head>
    <% include ../partials/head %>
  </head>
  <body>
    <header>
      <% include ../partials/header %>
    </header>
    <div class="posts">
    <% include partials/top %>
<!-- main start-->

<!-- views/posts/index.ejs -->
<div class="edit">
  <h3>Edit Post</h3>
  <form class="posts_form" action="/posts/<%=data._id%>?_method=put" method="post">
    <label>Title</label>
    <input type="text" name="post[title]" value="<%=data.title%>">
    <label>Body</label>
    <textarea name="post[body]"><%=data.body%></textarea>
    <button type="submit">Submit</button>
  </form>
  <a href="/posts/<%=data._id%>"><button>Back</button><a>
</div>

<!-- main end -->
    </div><!--posts end -->
    <footer>
      <% include ../partials/footer %>
    </footer>
  </body>
</html>
